# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.svn
*~
*.lock
*.DS_Store
*.swp
*.out
*.tmp
*.bak
*.old
*.pyc
.idea
# don't include third-party dependencies.
lib/
!lib/README.md
.DS_Store
content
www/blog
tmp/*
