# -*- coding: utf-8 -*-

# Configuration for app.py
CONFIG = dict(debug=False,
              generate=True,
              minify_html=True,
              minify_js=True,
              minify_css=True,
              cache=True,
              cache_dir='tmp/cache',
              content_dir='content',
              docs_dir='docs',
              www_root='www',
              js_dir='www/js',
              css_dir='www/css',
              output_dir='www/blog',
              ga_code='UA-00000000-1',
              title='Blog',
              author='Anonymous',
              email='anonymousa@example.com',
              url='http://www.example.com')
