@import "//fonts.googleapis.com/css?family=Raleway";

body {
    font-size:1.6rem;
    line-height:2.5rem;
    color:#404040;
    font-family:'Raleway',sans-serif
}

.container {
    max-width:1024px
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom:0.25em;
    margin-top:0.5em;
    font-weight:300;
    line-height:1em;
}

 h1 {
     font-weight:600;
     font-size:3em;
 }
a {
    text-decoration:none
}

h1 a,h1 a:hover,h2 a,h2 a:hover {
    color:#404040
}

header {
    margin-top:30px;
    margin-bottom:30px
}

footer {
    font-size:.9em;
    margin:60px 0 30px;
    color:#aaa
}

footer a {
    color:#aaa
}

footer hr {
    margin-bottom:30px
}

.print {
    display:none
}

.screen {
    display:inline
}

blockquote {
    color:#555;
    font-weight:500;
    font-size:2rem;
    margin-top:25px;
    margin-bottom:25px
}

.full-image {
    margin-left:-80px;
    width:1024px
}

@media (max-width: 1024px) {
.full-image {
    margin-left:0;
    width:100%
}
}

.scrollbox-all-blogposts {
    height:350px;
    width:100%;
    overflow:auto
}

img {
    min-width:100%;
    max-width:100%;
    height:auto
}

tt, code, pre {
    font-family:Monaco,Terminus,Lucida Console;
    padding:0.5rem;
    background-color:#555;
    color:#eee;
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight:600;
}

pre {
    font-weight:400;
    color:#fff;
    background-color:#333;
}

ol,ul {
    color:#444;
    margin-top:0.5rem;
    margin-left:2rem;
    line-height:0;
}

li {
    margin:0;
    line-height:1.5em;
    padding:.2em;
}
